body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  width: 1200px;
}

img { max-width: 100% }
a { text-decoration: none }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation {
  background-color: #ffffff;
  text-align: center;
}

.menu {
  list-style: none;
  font-weight: bold;
  line-height: 26px;
}
.menu a {
  color: #000000;
}
.menu a:hover,
.menu a:focus {
  color: #81b3d2;
}
.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

section.intro  {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  text-align: center;
}
.intro div {
  background-color: #ffffff;
}
.intro h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
}
.intro p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.promo {
  text-align: center;
}
.promo h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.promo p {
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}
.search {
  width: 568px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.search h3 {
  background-color: #766357;
  color: #ffffff;
  line-height: 26px;
}
.search input {
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  color: #000000;
}
.search button[type="submit"] {
  font: inherit;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
}
.contact {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.contact a {
  color: #000000;
}
.social li {
  list-style: none;
  width: 46px;
  height: 48px;  
  text-align: center;
  background-color: #81b3d2;
}
.copyright {
  color: #000000;
  line-height: 26px;
}
.catalog li {
  list-style: none;
}
.catalog h3 a {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.catalog p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.catalog p a {
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
}
.catalog p a:first-child {
  background-color: #81b3d2;
}
.catalog div span:last-child {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}
.catalog div span:first-child {
  background-image: url("../img/star.svg");
  background-size: 18px 17px;
  height: 17px;
}