@font-face { 
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/ptsans.woff2") format("woff2"), 
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face { 
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/ptsansbold.woff2") format("woff2"), 
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

img { 
  max-width: 100%; 
  height: auto;
}

a { 
  text-decoration: none; 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 10px #aba9a7;
}

.navigation {
  position: relative;

  text-align: center;

  background-color: #ffffff;
}

.logo-image {
  position: absolute;
  left:529px;
  right: 531px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: bold;
  line-height: 26px;
  list-style: none;
}

.menu li {
  width: 25%;
  padding: 14px 0;
}

.menu .menu-first {
  padding-left: 72px;

  text-align: left;
}

.menu .menu-last {
  padding-right: 72px;

  text-align: right;
}

.menu .menu-left {
  padding-left: 13px;

  text-align: left;
}

.menu .menu-right {
  padding-right: 16px;

  text-align: right;
}

.menu a {
  color: #000000;
}

.menu a:hover,
.menu a:focus {
  color: #81b3d2;
}

.menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro-image {
  width: 1200px;

  text-align: center;
  background-color:  #222f38;
  background-image: url("../img/intro-mask.svg"),
                    url("../img/background-photo.jpg");
  background-repeat: no-repeat, 
                     no-repeat;
  background-size: 1203px 59px,
                   cover;
  background-position: center 100.3%,
                       center bottom;
}

.intro-image {
  margin-bottom: 59px;
  padding: 76px 0;
}

.intro-content {
  margin-bottom: 51px;
}

.intro-header {
  width: 440px;
  margin: 0 auto 29px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.intro-text {
  margin: 0;

  line-height: 26px;
  text-align: center;
  color: #333333;
}

/*Секция Преимуществ*/
.features {
  margin-bottom: 51px;
}

.features ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-blue {
  display: flex;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2; 
}

.features-blue .features-header {
  color: #ffffff;
}

.features-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 45px 48px 60px;
}

.features-text p {
  margin: 0;
  padding: 0;
}

.features-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 65px;

  font-weight: bold;
  font-size: 21px;  
  color: #000000;
}

.features-header + span {
  display: block;
  margin-bottom: 20px;
}

.features-item {
  width: calc(100%/3); 
  padding: 160px 55px 83px;

  text-align: center;
}

.features-item p {
  margin: 0;
  padding: 0;
}

.features-item.house {
  background: url('../img/home-icon.svg') no-repeat;
  background-position: center 60px;
}

.features-item.food {
  background: url('../img/food-icon.svg') no-repeat;
  background-position: center 60px;
}

.features-item.box {
  background: url('../img/box-icon.svg') no-repeat;
  background-position: center 55px;
}

.gray {
  padding: 47px 60px 60px;

  background-color: #eeeeee;
}

/*Секция с предложением*/
.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 45px;

  text-align: center;
}

.promo-header {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.promo-text {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

/*Форма поиска отелей на Главной*/
.search {
  position: relative;
  
  font-weight: bold;
  font-size: 14px;  
}

.search-form {
  position: absolute;
  z-index: 1;
  left: 50%;

  display: flex;
  flex-wrap: wrap;
  width: 568px;
  padding: 55px;

  background-color: #ffffff;

  transform: translate(-50%, 0);
}

.search-header {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 30px 0 31px;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.search-header:hover,
.search-header:focus {
  color: #ffffff;

  background-color: #604e43;
}

.search-header:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;  
}

.form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.full-width {
  position: relative;

  padding-bottom: 30px;
  padding-left: 1px;
  width: 100%;
}

.full-width label {
  width: 25%;
}

.full-width .search-input {
  width: 75%;
  height: 38px;
  padding: 7px 43px 7px 9px;
}

.button-calendar {
  position: absolute;
  top: 8px;
  right: 9px;

  width: 21px;
  height: 22px;
  padding: 0;

  border: none;
  background: none;
  
  cursor: pointer;
}

.icon-calendar {
  fill: #cacaca;
}

.button-calendar:hover .icon-calendar,
.button-calendar:focus .icon-calendar {
  fill: #000000;
} 

.button-calendar:active .icon-calendar {
  fill: #81b3d2;
} 

.search-input {
  font: inherit;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
  border: none;  
}

.search-input::-moz-placeholder {
  line-height: 26px;
  color: #000000;

  opacity: 1;
}

.search-input::placeholder {
  line-height: 26px;
  color: #000000;
}

.search-input:hover {
  background-color: #ebebeb;
}

.search-input:focus,
.search-input:active {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.half-width {
  width: 50%;
  padding-bottom: 53px;
}

.search-button {
  width: 38px;
  height: 38px;

  font-size: 24px;
  font-weight: bold;
  color: #cacaca;  
  border: none;

  cursor: pointer;
}

.search-button:hover,
.search-button:focus {
  color: #000000;
}

.search-button:active {
  color: #81b3d2;
}

.half-width .search-input {
  width: 38px;
  height: 38px;
  padding: 0 6px;

  text-align: center;

  -moz-appearance: textfield;
}

.search-input::-webkit-inner-spin-button,
.search-input::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.half-width label {
  margin-right: auto;
}

.half-width:nth-child(2n) label {
  padding-left: 51px;
}

.search-button-submit {
  width: 100%;
  padding: 16px 0;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;  
  border: none;

  cursor: pointer;
}

.search-button-submit:hover,
.search-button-submit:focus {
  background-color: #669ec0;
}

.search-button-submit:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  height: 473px;
}

.map img {
  display: block;
}

/*Футер*/
.footer {
  position: relative;
  bottom: 0;

  display: flex;
  justify-content: space-between;
  min-height: 120px;
  padding-top: 30px;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-block {
  width: calc(100%/3); 
}

.contact {
  padding: 0;

  font-weight: bold;  
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.contact .footer-wrapper {
  padding-left: 124px;
}

.contact p {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.contact a {
  color: #000000;
}

.social {
  display: flex;
  align-items: flex-start;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  padding-top: 6px;

  list-style: none;
}

.social-item { 
  background-color: #81b3d2;

  cursor: pointer;
}

.social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px; 
}

.social-icon {
  fill: #ffffff;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
}

.social-item:active .social-icon {
  opacity: 0.3;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;

  line-height: 26px;
  color: #000000;
}

.copyright .footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright a {
  padding-top: 9px;
}

.copyright-icon {
  margin-left: 8px;
}

.copyright-icon:hover,
.copyright-icon:focus {
  fill: #81b3d2;
}

.copyright-icon:active {
  fill: #bdbbbc;
}

/*Страница Каталога*/
.menu .active {
  color: #766357;
}

/*Верхняя секция Фильтров Каталога*/
.catalog-filter {
  min-height: 297px;

  background-color: #416c8f;
  background-image: url('../img/filter-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-search-form {
  display: flex;
  padding: 29px 70px 6px;

  color: #ffffff;
}

.catalog-search-form ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-search-form legend {
  padding-bottom: 25px;

  font-weight: bold;
  font-size: 16px;
}

.catalog-search-form fieldset {
  margin: 0;
  padding: 0;
  padding-right: 120px;

  border: none;
}

.filter-option {
  padding: 0 0 25px 42px;
}

.filter-option-label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + .filter-option-label::before {
  position: absolute;
  left: -39px;
  top: -2px;

  width: 27px;
  height: 23px;

  content: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:checked + .filter-option-label::before {
  content: url("../img/checkbox-on.svg");
}

.catalog-form-right {
  width: 30%;
  margin-left: auto;
}

.catalog-range-title {
  padding: 0 0 10px 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.catalog-price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;
  
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.catalog-price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  content: "";
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.catalog-price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.catalog-price-controls .min-price,
.catalog-price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.catalog-price-controls input {
  width: 50px;
  height: 31px;
  margin: 0;

  font-size: 14px;

  color: #ffffff;
  background: none;
  border: none;

  -moz-appearance: textfield;
}

.catalog-price-controls input::-webkit-inner-spin-button,
.catalog-price-controls input::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.catalog-range-controls {
  position: relative;

  margin-bottom: 32px;
}

.catalog-range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.catalog-range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 21px;
  height: 21px;

  background: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;

  transition: all 0.2s ease;
}

.range-toggle::before {
  position: absolute;
  top: 8px;
  left: 8px;

  width: 5px;
  height: 5px;

  content: "";
  border-radius: 50%;
  background: #ababab;
}

.range-toggle:hover {
  transform: scale(1.15);
  transition: all 0.2s ease;
}

.range-toggle-min {
  left: -2px;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
  transform: translateX(-8px);
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*Раздел с результатами фильтрации*/
.catalog-filter-found {
  display: flex;
  padding: 30px 76px 30px 72px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px; 

  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.filter-found-text {
  padding: 0 40px 0 43px;

  font-weight: 400;
  font-size: 12px;  
  line-height: 18px;
  color: #000000;
}

.found-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 240px;
  margin-right: auto;
}

.catalog-filter-sort {
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.catalog-filter-sort:hover,
.catalog-filter-sort:focus {
  color: #81b3d2;
  text-decoration: none;
}

.catalog-filter-sort:active {
  color: #000000;
  text-decoration: none;

  border: none;
}

.catalog-filter-up {
  fill: #cacaca;
}

.catalog-filter-down {
  fill: #81b3d2;
}

.catalog-filter-up:hover,
.catalog-filter-up:focus,
.catalog-filter-down:hover,
.catalog-filter-down:focus {
  fill: #000000;
}

.catalog-filter-up:active,
.catalog-filter-down:active {
  fill: #81b3d2;
}

/*Каталог - секция выбранных отелей*/
.catalog ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 72px 24px;
  
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-content {
  display: flex;
  align-items: flex-start;
}

.catalog-item-content img {
  margin: 0;
  margin-right: 30px;
}

.catalog-item-header {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 18px;  
  color: #000000;
}

.catalog-item-header:hover,
.catalog-item-header:focus {
  color: #81b3d2;
}

.catalog-item-header:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-text p {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}


.catalog-item-text span {
  display: inline-block;
  width: 43%;
}

.catalog-controls a {
  display: inline-block;
  padding: 3px 16px;

  font-weight: bold;
  color: #ffffff;

  cursor: pointer;
}

.catalog-controls a:not(:last-child) {
  margin-right: 5px;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;  
}

.button-book {
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-item-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.rating-stars {
  height: 17px;
  margin-bottom: 47px;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.rating-stars.five-stars {
  width: 89px;
}

.rating-stars.three-stars {
  width: 65px;
}

.rating-stars.two-stars {
  width: 40px;
}

.rating-value {
  padding: 3px 13px 8px 16px; 

  color: #666666;
  background-color: #f2f2f2;
}